{
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "overrides": [
    {
        "files": ["*.yml", "*.yaml", "*.json", "*.md"],
        "options": {
            "tabWidth": 2
        }
    },
    {
        "files": [
            "documentation/docs/**/*.{md,mdx,tsx,js,ts}",
            "documentation/blog/**/*.{md,mdx,tsx,js,ts}"
        ],
        "options": {
            "tabWidth": 2,
            "printWidth": 120
        }
    }
]
}